@mixin object($w, $h, $bg) {
  width: $w;
  height: $h;
  background-color: $bg;
}

@mixin flex($j, $a, $d) {
  display: flex;
  justify-content: $j;
  align-items: $a;
  flex-direction: $d;
}

@mixin font($s, $w) {
  font-size: $s;
  font-weight: $w;
}

$point-c: #7ab1e8;
