@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Roboto:wght@100;300;400;500;700;900&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100&display=swap%27');

// font-family: 'Roboto', sans-serif; // default
// font-family: 'Black Han Sans', sans-serif; // logo
// font-family: 'Nanum Pen Script', cursive; //setting
// font-family: 'Roboto Mono', monospace; // setting

@mixin object($w, $h, $bg) {
  width: $w;
  height: $h;
  background-color: $bg;
}

@mixin flex($j, $a, $d) {
  display: flex;
  justify-content: $j;
  align-items: $a;
  flex-direction: $d;
}

@mixin font($s, $w) {
  font-size: $s;
  font-weight: $w;
}

$point-c: royalblue;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font: {
    family: 'Roboto', sans-serif;
    size: 1em;
  }
}

body {
  @include flex(center, center, '');
  height: 100vh;
  background-color: #ced3df;
  user-select: none;
  color: $point-c;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.app-wrap {
  @include object(95vw, '', white);
  text-align: center;
}

.header {
  @include object('', '', white);
  @include flex(space-between, center, '');
  padding: 1.5em 2em;
  border-bottom: 1px solid $point-c;
}

.prev,
.next {
  @include font(24px, '');
  color: $point-c;
}

.date {
  @include font(1.2em, '');
  span {
    @include font(1.4em, 600);
    margin-right: 0.25em;
  }
}

.list {
  @include object(100%, auto, '');
  padding: 1.5em 2em;
}

.writeInput {
  input {
    @include object(90%, 45px, $point-c);
    &::placeholder {
      color: white;
    }
    text-indent: 1em;
    outline: none;
    border: none;
    border-radius: 0;
    color: white;
    margin-bottom: 2em;
  }

  button {
    @include object(1.8em, 1.8em, '');
    margin-left: 0.8em;
    border-radius: 100%;
    color: $point-c;
    border: 2px solid $point-c;
  }
}

.footer {
  padding: 2em;
  border-top: 1px solid $point-c;
}

.list-left {
  margin-bottom: 1.2em;
}

.cheer-text {
  @include font(1.2em, 600);
  margin-left: 0.2em;
}

.percentage {
  @include object(100%, 8px, '');
  border: 1px solid $point-c;
  margin-bottom: 0.8em;

  span {
    @include object(60%, inherit, $point-c);
    display: block;
  }
}
