@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Roboto:wght@100;300;400;500;700;900&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Faustina&display=swap');

// font-family: 'Roboto', sans-serif; // default
// font-family: 'Black Han Sans', sans-serif; // logo
// font-family: 'Nanum Pen Script', cursive; //setting
// font-family: 'Roboto Mono', monospace; // setting
// font-family: 'Faustina', serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Faustina', serif;
}

body {
  @include object(100%, 100vh, $point-c);
  user-select: none;
  color: $point-c;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

input {
  user-select: text;
}

.appWrap {
  @include object(100vw, 100vh, white);
  text-align: center;
}

.header {
  @include object('', '', white);
  text-align: center;
  padding: 1.5em;
  border-bottom: 1px solid $point-c;
}

.date {
  font-size: 1.15rem;
  span {
    @include font(1.3rem, 600);
    margin-right: 0.25em;
  }
}

.list {
  @include object(100%, auto, '');
  padding: 1.5em;
}

.writeInput {
  @include object(100%, 45px, $point-c);
  @include flex(space-between, center, '');
  margin-bottom: 1.5em;

  input {
    @include object(100%, inherit, transparent);
    &::placeholder {
      color: white;
    }
    font-size: 0.9em;
    text-indent: 10px;
    outline: none;
    border: none;
    border-radius: 0;
    color: white;
  }
}

.todos {
  height: 45vh;
  overflow-y: scroll;
}

.addNewTodo {
  @include font(1.35em, 500);
  color: white;
  margin: 0 0.5em;
}

.footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding: 1.5em;
  border-top: 1px solid $point-c;
}

.listLeft {
  margin-bottom: 1.2em;
}

.cheerText {
  @include font(1.15em, 600);
  margin-left: 0.2em;
}

.allDonText {
  margin-left: 0.2em;
}

.percentText {
  @include flex(space-between, center, '');
}

.progressBar {
  @include object(100%, 16px, '');
  border: 1px solid $point-c;
  margin-bottom: 0.8em;

  span {
    @include object(0%, inherit, $point-c);
    @include font(0.85em, '');
    text-align: right;
    padding-right: 0.5em;
    color: white;
    display: block;
  }
}
