@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Roboto:wght@100;300;400;500;700;900&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100&display=swap%27');

// font-family: 'Roboto', sans-serif; // default
// font-family: 'Black Han Sans', sans-serif; // logo
// font-family: 'Nanum Pen Script', cursive; //setting
// font-family: 'Roboto Mono', monospace; // setting

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font: {
    family: 'Roboto', sans-serif;
    size: 1em;
  }
}

body {
  user-select: none;
  color: $point-c;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

.app_wrap {
  @include object(100vw, 100vh, white);
  text-align: center;
}

.header {
  @include object('', '', white);
  @include flex(space-between, center, '');
  padding: 1.5em;
  border-bottom: 1px solid $point-c;
}

.prev,
.next {
  @include font(24px, '');
  color: $point-c;
}

.date {
  span {
    @include font(1.2em, 600);
    margin-right: 0.25em;
  }
}

.list {
  @include object(100%, auto, '');
  padding: 1.5em;
}

.write_input {
  @include object(100%, 45px, $point-c);
  @include flex(space-between, center, '');
  margin-bottom: 2em;

  input {
    @include object(100%, inherit, transparent);
    &::placeholder {
      color: white;
    }
    font-size: 0.9em;
    text-indent: 10px;
    outline: none;
    border: none;
    border-radius: 0;
    color: white;
  }

  button {
    @include font(1.35em, 500);
    color: white;
    margin: 0 0.5em;
  }
}

.footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding: 1.5em;
  border-top: 1px solid $point-c;
}

.list_left {
  margin-bottom: 1.2em;
}

.cheer_text {
  @include font(1.15em, 600);
  margin-left: 0.2em;
}

.percent_text {
  @include flex(space-between, center, '');
}

.percent_bar {
  @include object(100%, 16px, '');
  border: 1px solid $point-c;
  margin-bottom: 0.8em;

  span {
    @include object(60%, inherit, $point-c);
    @include font(0.85em, '');
    text-align: right;
    padding-right: 0.5em;
    color: white;
    display: block;
  }
}
